<div class="spaced">
<h1> Welcome to the Micro_learning_app</h1>
<a class="btn btn-secondary" href="/login" role="button">Login</a>
<a class="btn btn-success" href="signup" role="button">signup</a>
<div>