<form method="post" action="/signup">
<label for="user_name">username</label>
<input type="text" id="user_name" name="username">
<label for="password">password</label>
<input type="password" id="password" name="password">
<input type="submit" value="submit" name="submit">
</form?