<div >
    <h1><%= @tutorial.title%></h1>
    
    <h4 class="text-muted"><i><%= @tutorial.topic%></i></h4>
    <div data-spy="scroll"data-target="#navbar-example2" data-offset="0">
    <p> <%=@tutorial.content%></p>
    </div>
</div>