<form method="post" action="/tutorial" >
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="enter title here">
  </div>
  <div class="form-group">
    <label for="topic">Topic</label>
    <input type="text" class="form-control" id="topic" name="topic" placeholder="enter topic here">
  </div>
  <div class="form-group">
    <label for="content">Content </label>
    <textarea class="form-control" id="content" name="content" rows="3" placeholder="enter the content here"></textarea>
  </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Save</button>
      </div>
    </div>
</form